pandas
opencv-python
Pillow
openpyxl

# --- NOTA IMPORTANTE SOBRE DETECTRON2 ---
# 1. INSTALACIÓN DE LA LIBRERÍA: Detectron2 debe instalarse manualmente.
#    Sigue la guía oficial en: https://github.com/facebookresearch/detectron2/blob/main/INSTALL.md

# 2. DESCARGA DEL MODELO: No te preocupes por esto. El script de Python
#    (main.py) descargará los pesos del modelo automáticamente la primera vez que se ejecute.